.App {
  position: relative;
  z-index: 11;
}
.bgimg:after{
  content: '';
  position: absolute;
  left: 0;
  top:0 ;
  right: 0;
  bottom: 0;
  background-image: url('../src/images/mainbg.png');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  
}

